html, body, ul, li, p,
h1, h2, h3, h4, blockquote, figure {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'PT Mono', 'Ubuntu Mono', 'Courier New', Courier, monospace;
    text-align: center;
    color: #efe;
}
a {
    color: #fff;
}
img {
    max-width: 100%;
    height: auto;
}
.no-wrap {
    white-space: nowrap;
}
header {
    background: fixed url(../images/background.webp) center/cover no-repeat;
    width: 100%;
}
@media (max-width: 830px) and (orientation: portrait) {
    header {
        background-image: url(../images/background-cropped.webp);
    }
}
header > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 400px;
    height: 100vh;
    background-color: rgba(100,175,182,0.8);
    color: aliceblue;
}
header > * {
    padding: 0 15px;
}
header h1 {
    font-size: 2.7em;
    line-height: 1.5em;
    margin-top: auto;
}
header h2 {
    font-size: 2em;
    line-height: 1.5em;
    margin-bottom: 0.5em;
}
header .social {
    margin-top: 4em;
    margin-bottom: 1em;
}
header .social a {
    margin: 0 0.5em;
}
header nav {
    margin-top: auto;
    padding: 1.5em 0;
    font-size: 1.1em;
}
header nav a {
    font-weight: bold;
    text-decoration: none;
}
blockquote {
    font-size: 1.5em;
    line-height: 1.75em;
    quotes: "\201C""\201E";
    white-space: pre-wrap;
}
@media (max-width: 450px) {
    blockquote {
        margin: 0 2.5em;
    }
}
@media (max-width: 320px) {
    blockquote {
        margin: 0 1em;
    }
}
blockquote::before {
    content: open-quote;
    font-size: 2em;
    line-height: 0.1em;
    vertical-align: -0.2em;
}
blockquote::after {
    content: close-quote;
    font-size: 2em;
    line-height: 0.1em;
}
body > section {
    padding: 30px 20px;
}
.container {
    max-width: 1250px;
    margin: auto;
}
.container + .container {
    padding-top: 50px;
}
section h3 {
    font-size: 2.7em;
    position: relative;
    padding-bottom: 0.5em;
    margin-bottom: 0.75em;
}
section h3::after {
    position: absolute;
    display: block;
    content: '';
    left: 10%;
    bottom: 0;
    width: 80%;
    height: 1px;
    background-color: rgba(204,255,204,0.3);
    border-top: 1px rgba(0,0,51,0.5) solid;
}
section h4 {
    font-size: 1.5em;
    margin-bottom: 0.7em;
}
section p {
    line-height: 1.3em;
    margin: 0.6em 0;
}
section ul {
    list-style-position: inside;
}
section li {
    line-height: 1.3em;
    text-align: left;
    margin: 0.4em 0;
}
/* color palette: http://www.color-hex.com/color-palette/15760 */
section.perfil {
    background-color: #2f5653;
}
section.perfil section {
    margin-bottom: 2em;
    text-align: left;
    line-height: 1.5em;
}
section.perfil section:last-child {
    margin-bottom: 0;
}
section.perfil picture {
    margin: 0 auto;
}
section.perfil picture img {
    border: 10px #303235 solid;
    border-radius: 50%;
}
section.perfil section p {
    text-indent: 1em;
}
section.perfil section dt {
    margin: 0 0 0 1rem;
    font-weight: bold;
}
section.perfil section dt::after {
    content: ':';
}
section.perfil section dd {
    margin: 0 0 1em;
}
section.perfil section dd:last-child {
    margin-bottom: 0;
}
@media (min-width: 500px) {
    section.perfil .container {
        box-sizing: border-box;
        padding: 0 1em;
        max-width: 900px;
    }
    section.perfil picture {
        margin: 0 1.5em 0 0;
        float: left;
        shape-outside: circle(50%);
    }
}
@media (min-width: 640px) {
    section.perfil section dl {
        display: flex;
        flex-wrap: wrap;
    }
    section.perfil section dt {
        margin: 0;
        flex-basis: 25%;
    }
    section.perfil section dd {
        box-sizing: border-box;
        padding-left: 0.5em;
        flex-basis: 75%;
    }
}
section.portfolio {
    position: relative;
    background-color: rgba(104, 114, 118, .97);
}
section.portfolio::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url(../images/background-portfolio.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
section.portfolio figure {
    padding: 1em 1em 0;
    margin-bottom: 6em;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.05);
    cursor: pointer;
    transition: background-color 0.5s ease;
}
section.portfolio figure::after {
    content: '';
    display: block;
    position: relative;
    width: 100%;
    height: 1px;
    top: 3em;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(255,255,255,0.2), rgba(0,0,0,0));
}
section.portfolio figure:last-child {
    margin-bottom: 0;
    border-bottom: 1px transparent solid;
}
section.portfolio figure:last-child::after {
    content: none;
}
section.portfolio figure img {
    display: block;
    margin: 0 auto 1em;
    border-radius: 10px;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-property: -webkit-filter, filter, opacity;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: 0.4;
}
section.portfolio figure:hover,
.touch section.portfolio figure.on-screen {
    background-color: rgba(255,255,255,0.2);
}
section.portfolio figure:hover img,
.touch section.portfolio figure.on-screen img {
    -webkit-filter: none;
    filter: none;
    opacity: 1;
}
.touch section.portfolio figure,
.touch section.portfolio figure img {
    transition-delay: 0.5s;
}
section.portfolio figure figcaption {
    margin-bottom: 1em;
}
section.portfolio figure figcaption h4 {
    line-height: 2em;
}
section.contato {
    background-color: #54504d;
}
.captcha {
    position: absolute;
    padding: 4px 2px 2px 4px;
    background-color: rgba(204,204,204,.8);
    border: 1px rgba(51,51,51,.8) solid;
    border-radius: 4px;
}
footer {
    font-size: 0.8em;
    padding: 10px 20px;
    background-color: #303235;
}
footer p {
    margin: 10px 0;
    line-height: 1.7em;
}
.lang {
    display: flex;
    align-items: center;
    justify-content: center;
}
.lang > *:not(:last-child) {
    margin-right: 2em;
}
footer p.lang {
    font-size: 1.25em;
}
footer p.copy {
    font-size: 1.25em;
    padding: 1.5em 0;
}
@media (max-width: 340px) {
    section.portfolio figure {
        padding: 0;
    }
    section.portfolio figure img {
        border-radius: 10px 10px 0 0;
    }
    section.portfolio figure figcaption {
        padding: 0 1em;
    }
}
@media (min-width: 800px) {
    section.portfolio figure {
        padding: 0;
    }
    section.portfolio figure img {
        float: left;
        margin: 0 1em 0 0;
        border-radius: 10px 0 0 10px;
    }
    section.portfolio figure figcaption {
        text-align: left;
        margin-bottom: 0;
        padding-right: 1em;
    }
    section.portfolio figure figcaption::after {
        content: '';
        display: block;
        visibility: hidden;
        height: 0;
        clear: both;
    }
}
@media (max-width: 380px) {
    section.perfil section {
        padding: 0;
    }
}
@media (min-width: 1000px) {
    body > section {
        padding-right: 50px;
        padding-left: 50px;
    }
}
@media (min-width: 600px) {
    section.contato .flexbox {
        width: 400px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }
    section.contato .flexbox p {
        flex-basis: 50%;
        flex-grow: 1;
    }
}

html {
    scroll-snap-type: y proximity;
}
header, .perfil, .portfolio {
    scroll-snap-align: start;
}
.portfolio figure, .contato {
    scroll-snap-align: center;
}

/**
 *  Font Awesome 4.5.0 by @davegandy - http://fontawesome.io - @fontawesome (partial)
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face {
    font-family: 'FontAwesome';
    src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.eot?v=4.5.0');
    src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-lg {
    font-size: 1.5em
}
.fa-2x {
    font-size: 2em;
}
.fa-twitter:before {
    content: "\f099";
}
.fa-github:before {
    content: "\f09b";
}
.fa-linkedin:before {
    content: "\f0e1";
}
.fa-stack-overflow:before {
    content: "\f16c";
}
.fa-wordpress:before {
    content: "\f19a";
}
.fa-at:before {
    content: "\f1fa";
}
.fa-language:before {
    content: "\f1ab";
}
