:root {
    --light: #fdfdfd;
    --dark: #575758;
    --darker: #303235;
    --yellow-dark: #fab516;
    --yellow-light: #ffdd17;
    --blue-dark: #5179bb;
    --blue-light: #36a9e0;
    --blue-lighter: #27a9e1;
    --violet: #be589c;
    --green: #00964f;
    --red: #e74437;
}
html, body, ul, li, p,
h1, h2, h3, h4, blockquote, figure {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', 'Ubuntu Mono', 'Courier New', Courier, monospace;
    text-align: center;
    background-color: var(--darker);
    color: var(--light);
}
body::before {
    position: fixed;
    inset: -100vh -100vw;
    z-index: -1;
    rotate: -30deg;
    content: '';
    background-image: url(../images/background.webp), linear-gradient(150deg, var(--yellow-light) 33%, var(--blue-lighter) 66%);
    background-blend-mode: overlay;
}
a {
    color: var(--light);
}
img {
    max-width: 100%;
    height: auto;
}
.no-wrap {
    white-space: nowrap;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 400px;
    height: 100vh;
}
header > * {
    padding: 0 15px;
}
header h1 {
    font-size: 2.7em;
    line-height: 1.5em;
    margin-top: auto;
}
header h1 span {
    display: none;
}
header h1 img {
    width: 400px;
}
header h2 {
    font-size: 2em;
    line-height: 1.5em;
    margin-bottom: 0.5em;
}
header h2 em {
    white-space: nowrap;
}
header .social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4em;
    margin-bottom: 1em;
}
header .social a {
    display: inline-block;
    overflow: hidden;
    margin: 0 0.5em;
    text-indent: -100vw;
    height: 80px;
    background: url(../images/icons.webp);
}
header .social a.twitter {
    width: 91px;
    background-position-x: 0px;
}
header .social a.stackoverflow {
    width: 75px;
    background-position-x: -91px;
}
header .social a.blog {
    width: 79px;
    background-position-x: -166px;
}
header .social a.github {
    width: 78px;
    background-position-x: -245px;
}
header .social a.linkedin {
    width: 81px;
    background-position-x: -323px;
}
header nav {
    margin-top: auto;
    padding: 1.5em 0;
    font-size: 1.1em;
}
header nav a {
    font-weight: bold;
    text-decoration: none;
}
blockquote {
    font-size: 1.5em;
    line-height: 1.75em;
    quotes: "\201C""\201E";
    white-space: pre-wrap;
}
blockquote:before, blockquote:after {
    font-family: serif;
}
@media (max-width: 450px) {
    blockquote {
        margin: 0 2.5em;
    }
}
@media (max-width: 320px) {
    blockquote {
        margin: 0 1em;
    }
}
blockquote::before {
    content: open-quote;
    font-size: 2em;
    line-height: 0.1em;
    vertical-align: -0.2em;
}
blockquote::after {
    content: close-quote;
    font-size: 2em;
    line-height: 0.1em;
}
body > section {
    padding: 30px 20px;
}
.container {
    max-width: 1250px;
    margin: auto;
}
.container + .container {
    padding-top: 50px;
}
section h3 {
    font-size: 2.7em;
    padding-bottom: 0.5em;
    margin: 0 10% 0.75em;
    box-shadow: 0 -1px 0 rgba(0,0,51,0.2) inset;
    border-bottom: 1px rgba(204,204,204,0.3) solid;
    quotes: '{!' '}';
}
section h3::before {
    content: open-quote;
    margin-right: 1rem;
}
section h3::after {
    content: close-quote;
    margin-left: 1rem;
}
section h4 {
    font-size: 1.5em;
    margin-bottom: 0.7em;
}
section p {
    line-height: 1.3em;
    margin: 0.6em 0;
}
section ul {
    list-style-position: inside;
}
section li {
    line-height: 1.3em;
    text-align: left;
    margin: 0.4em 0;
}
section.perfil {
    background-color: rgba(240,240,240,.6);
    color: var(--dark);
}
section.perfil h3 {
    border-bottom-color: rgb(204,204,204);
    quotes: '{>' '}';
}
section.perfil h3::before {
    color: var(--violet);
}
section.perfil section {
    margin-bottom: 2em;
    text-align: left;
    line-height: 1.5em;
}
section.perfil section:last-child {
    margin-bottom: 0;
}
section.perfil picture {
    margin: 0 auto;
}
section.perfil picture img {
    border: 2px var(--violet) solid;
    border-radius: 50%;
}
section.perfil section p {
    text-indent: 1em;
    line-height: 1.65;
}
section.perfil section dt {
    margin: 0 0 0 1rem;
    font-weight: bold;
}
section.perfil section dt::after {
    content: ':';
}
section.perfil section dd {
    margin: 0 0 1em;
}
section.perfil section dd:last-child {
    margin-bottom: 0;
}
@media (min-width: 500px) {
    section.perfil .container {
        box-sizing: border-box;
        padding: 0 1em;
        max-width: 900px;
    }
    section.perfil picture {
        margin: 0 1.5em 0 0;
        float: left;
        shape-outside: circle(50%);
    }
}
@media (min-width: 640px) {
    section.perfil section dl {
        display: flex;
        flex-wrap: wrap;
    }
    section.perfil section dt {
        margin: 0;
        flex-basis: 25%;
    }
    section.perfil section dd {
        box-sizing: border-box;
        padding-left: 0.5em;
        flex-basis: 75%;
    }
}
section.portfolio {
    position: relative;
    background-color: rgba(81, 121, 187, .97);
}
section.portfolio h3::before {
    color: var(--blue-light);
}
section.portfolio::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url(../images/background-portfolio.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
section.portfolio figure {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1em 1em 0;
    margin-bottom: 6em;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.05);
    cursor: pointer;
    transition: background-color 0.5s ease;
}
section.portfolio figure::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: calc(100% + 3em);
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(255,255,255,0.2), rgba(0,0,0,0));
}
section.portfolio figure:last-child {
    margin-bottom: 0;
    border-bottom: 1px transparent solid;
}
section.portfolio figure:last-child::after {
    content: none;
}
section.portfolio figure img {
    display: block;
    margin: 0 auto 1em;
    border-radius: 10px;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-property: -webkit-filter, filter, opacity;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: 0.4;
}
section.portfolio figure.on-screen {
    background-color: rgba(255,255,255,0.2);
}
section.portfolio figure.on-screen img {
    -webkit-filter: none;
    filter: none;
    opacity: 1;
}
section.portfolio figure,
section.portfolio figure img {
    transition-delay: 0.5s;
}
section.portfolio figure figcaption {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
section.portfolio figure figcaption h4 {
    margin-bottom: 0.4em;
}
section.portfolio figure figcaption legend {
    font-size: 80%;
    margin: auto 0 1em;
}
section.contato {
    background-color: rgba(190,88,156,.5);
}
section.contato h3 {
    quotes: '{@' '}';
}
section.contato h3::before {
    color: var(--yellow-dark);
}
section.contato p {
    line-height: 2em;
    font-weight: 600;
}
.captcha {
    position: absolute;
    padding: 4px 2px 2px 4px;
    background-color: rgba(204,204,204,.8);
    border: 1px rgba(51,51,51,.8) solid;
    border-radius: 4px;
}
footer {
    font-size: 0.8em;
    padding: 10px 20px;
    background-color: rgba(190,88,156,.5);
}
footer p {
    margin: 10px 0;
    line-height: 1.7em;
}
.lang {
    display: flex;
    align-items: center;
    justify-content: center;
}
.lang > *:not(:last-child) {
    margin-right: 2em;
}
footer p.lang {
    font-size: 1.25em;
}
footer p.copy {
    font-size: 1.25em;
    padding: 1.5em 0;
}
@media (max-width: 340px) {
    section.portfolio figure {
        padding: 0;
    }
    section.portfolio figure img {
        border-radius: 10px 10px 0 0;
    }
    section.portfolio figure figcaption {
        padding: 0 1em;
    }
}
@media (min-width: 800px) {
    section.portfolio figure {
        flex-direction: row;
        padding: 0;
    }
    section.portfolio figure img {
        float: left;
        margin: 0 1em 0 0;
        border-radius: 10px 0 0 10px;
    }
    section.portfolio figure figcaption {
        text-align: left;
        margin-bottom: 0;
        padding-right: 1em;
    }
    section.portfolio figure figcaption::after {
        content: '';
        display: block;
        visibility: hidden;
        height: 0;
        clear: both;
    }
    section.portfolio figure figcaption h4 {
        margin: 1rem 0;
    }
}
@media (max-width: 380px) {
    section.perfil section {
        padding: 0;
    }
}
@media (min-width: 1000px) {
    body > section {
        padding-right: 50px;
        padding-left: 50px;
    }
}
@media (min-width: 600px) {
    section.contato .flexbox {
        width: 400px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }
    section.contato .flexbox p {
        flex-basis: 50%;
        flex-grow: 1;
    }
}

html {
    scroll-snap-type: y proximity;
}
header, .perfil, .portfolio {
    scroll-snap-align: start;
}
.portfolio figure, .contato {
    scroll-snap-align: center;
}
